body{
    background: #000;
    color: #fff;
}
.container{
    display: flexbox;
    justify-content: center;
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    background-color: aquamarine;
}

/* Style for the button container */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the round button */
  .password-create-button {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Make sure the width and height are the same for a round shape */
    border-radius: 50%; /* Creates a round shape */
    background-color: #4CAF50; /* Green color */
    color: white; /* Text color */
    border: none; /* Remove border */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
  
    /* Center text inside the button */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Hover effect to increase the shadow on hover */
  .password-create-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  